<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

	</head>

	<title>NUSGo![Beta]</title>

	<body>
		<div id = "promptBackground"></div>
		<div class = "container-fluid">
			<div class = "row" id = "navigation">
				<div class = "col-md-10 col-sm-8">
					<img id="siteTitle" src = "img/title.png"></img>
					<div id = "searchBox">
						<input id="pac-input" class="controls" type="text" placeholder="  Search places">
					</div>
				</div>
				<div class = "col-md-1 col-sm-2" id = "navBtn">
					<div class = "navBtn" id = "notifications">Notifications</div> 
				</div>
				<div class = "col-md-1 col-sm-2" id = "navBtn">
					<div class = "navBtn" id = "about">About</div>
				</div>
			</div>
			<div id = "notificationsBox">
				<div class = "container-fluid">
					<div class = "row">
						<h2 id = "chatTitle" class = "col-sm-12 col-md-12"></h2>
					</div>
					<div class = "row">
						<div id = "chatArea" class = "col-md-12 col-sm-12">
							<div class = "showChat"></div>
						</div>
					</div>
					<div class = "row">
						<div class = "col-md-12 col-sm-12">
							<form>
								Chat: <input id = "chatField" type = "text" name = "chat">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id = "prompt">
				<div class = "container-fluid">
					<div class = "row">
						<h1 style = "text-align: center;">Place a marker  <img src = "img/markerPromptLogo.gif"></img></h1>
					</div>
					<div class = "row">
						<form id = "form">
							<div class = "col-md-3 col-sm-3">
								<input type = "radio" name = "meal" value = "breakfast">Breakfast<br>
								<input type = "radio" name = "meal" value = "brunch">Brunch<br>
								<input type = "radio" name = "meal" value = "lunch">Lunch<br>
								<input type = "radio" name = "meal" value = "tea">Tea<br>
								<input type = "radio" name = "meal" value = "dinner">Dinner<br>
								<input type = "radio" name = "meal" value = "supper">Supper<br>
							</div>
							<div class = "col-md-9 col-sm-9">
								Include a personal message :)</br>
								<textarea id = "personalMessageBox" name = "message" rows = 4 cols = 15></textarea>
								<input type = "button" value = "GO!" name = "submit" id = "submit"><b></b></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		    <div id = "loginPrompt">
		       	<h1 style = "text-align: center;">Please login through Facebook</h1>
		        <fb:login-button id = "loginButton" scope="public_profile,email" onlogin="checkLoginState();">
		        </fb:login-button>
		    </div>
		</div>
		<div class = "container-fluid">
		    <div id = "main" class = "row">
		    	<div class = "col-md-8">
		    		<br>
					<div id="googleMap"></div>
					<br>
				</div>
				<div class = "col-md-4">
					<br>
					<div id = "homeDescription">
						<br>
			      		<div id = "status"></div>
			      		<h2>Looking for a meal buddy?</h2><br>
			      		<p><b><u>Place a marker on the map</u></b> to show that you up for a meal!<p>
			      		<p>Or you can <b><u>click on a marker</u></b> to join him/her for a meal!</p><br>
			      		<p>Check the <b>'Notifications'</b> button above for meal requests</p>
			      		<h2>Hungry people count: 0</h2><br>
			      		<p>NUSGo! is a web application for the adventurous to look for new meal buddies. Also, we believe that nobody deserves to eat alone.</p>
			      		<br>
			      	</div>
			      	<div class = "container-fluid">
			      		<div class = "row">
			      			<div class = "col-md-12 col-sm-12">
			      				<br>
						      	<div class="fb-like" data-href="https://nusgo.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
						    </div>
					    </div>
				    </div>
				</div>
			</div>
			<p>Created by <b>Team RollingGO!</b> (Kang Soon, Andhieka, Choon Hian), May 2015</p>
		</div>
	</body>

	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places,drawing"></script>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="js/Controller.js"></script>
	<script src="js/ChatService.js"></script>
	<script src="js/Map.js"></script>
	<script src="js/Marker.js"></script>
	<script src="js/StorageManager.js"></script>
	<script src="js/Style.js"></script>
	<script src="js/User.js"></script>
	<script src="js/UserAuth.js"></script>
</html>