<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="sty;esheet" type="text/css" href="lib/jquery-ui.min.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>

	<title>NUSGo![Beta]</title>

	<body>
		<div id = "promptBackground"></div>
		<div class = "container-fluid">
			<div class = "row" id = "navigation">
				<div class = "col-md-10 col-sm-9">
					<img id="siteTitle" src = "img/title.png"></img>
					<div id = "searchBox">
						<input id="pac-input" class="controls" type="text" placeholder="  Search places">
					</div>
				</div>

				<div class = "col-md-2 col-sm-3" id = "navBtnMenu">
					<div class = "container-fluid">
						<div class = "row">
							<div class = "col-md-4 col-sm-4" id = "navBtnHover">
								<img class "navBtn" id = "social" src = "img/social.png"></img>
							</div>
							<div class = "col-md-4 col-sm-4" id = "navBtnHover">
								<img class "navBtn" id = "feedback" src = "img/mail.png"></img>
							</div>
							<div class = "col-md-4 col-sm-4" id = "navBtnHover">
								<a href="https://facebook.com/nusgoapp/"><img class = "navBtn" id = "about" src = "img/facebook.png"></img></a>
							</div>
						</div>
					</div>
				</div>
			
			</div>
			<div id = "chatSection"></div>
			<div id = "contact">
				<div class = "container-fluid">
					<div class = "row">
						<h1 style = "text-align: center;">Contact Us</h1>
					</div>
					<div class = "row">
						<form action="mailto:tankangsoon@gmail.com" enctype="text/plain" method="post" id = "contactForm">
							<p>Name: <input name="Name" type="text" id="Name" size="40" placeholder="Optional"></p>
							<p>E-mail: <input name="E-mail" type="text" id="E-mail" size="40" placeholder="Optional"></p>
							<textarea name="Comment" cols="55" rows="5"
							id="Comment" placeholder="Feedbacks, bug reports, or just say 'HI'!"></textarea>
							<p><input type="submit" name="Submit" value="Submit"></p>
						</form>
					</div>
				</div>
			</div>
			<div id = "prompt">
				<div class = "container-fluid">
					<div class = "row">
						<h1 style = "text-align: center;">Place a marker  <img src = "img/markerPromptLogo.gif"></img></h1>
					</div>
					<div class = "row">
						<form id = "form">

							<div class = "col-md-9 col-sm-9">

								<select id = "time">
									<option value="01:00">01.00</option>
									<option value="01:15">01.15</option>
									<option value="01:30">01.30</option>
									<option value="01:45">01.45</option>
									<option value="02:00">02.00</option>
									<option value="02:15">02.15</option>
									<option value="02:30">02.30</option>
									<option value="02:45">02.45</option>
									<option value="03:00">03.00</option>
									<option value="03:15">03.15</option>
									<option value="03:30">03.30</option>
									<option value="03:45">03.45</option>
									<option value="04:00">04.00</option>
									<option value="04:15">04.15</option>
									<option value="04:30">04.30</option>
									<option value="04:45">04.45</option>
									<option value="05:00">05.00</option>
									<option value="05:15">05.15</option>
									<option value="05:30">05.30</option>
									<option value="05:45">05.45</option>
									<option value="06:00">06.00</option>
									<option value="06:15">06.15</option>
									<option value="06:30">06.30</option>
									<option value="06:45">06.45</option>
									<option value="07:00">07.00</option>
									<option value="07:15">07.15</option>
									<option value="07:30">07.30</option>
									<option value="07:45">07.45</option>
									<option value="08:00">08.00</option>
									<option value="08:15">08.15</option>
									<option value="08:30">08.30</option>
									<option value="08:45">08.45</option>
									<option value="09:00">09.00</option>
									<option value="09:15">09.15</option>
									<option value="09:30">09.30</option>
									<option value="09:45">09.45</option>
									<option value="10:00">10.00</option>
									<option value="10:15">10.15</option>
									<option value="10:30">10.30</option>
									<option value="10:45">10.45</option>
									<option value="11:00">11.00</option>
									<option value="11:15">11.15</option>
									<option value="11:30">11.30</option>
									<option value="11:45">11.45</option>
									<option value="12:00">12.00</option>
									<option value="12:15">12.15</option>
									<option value="12:30">12.30</option>
									<option value="12:45">12.45</option>

								</select>





							
								<select id = "ampm">
									<option value="am">am</option>
									<option value="pm">pm</option>
								</select><br>
								<textarea id = "personalMessageBox" name = "message" rows = 4 cols = 15 placeholder = "Where are you going? Select a time you'd like to have your meal! Include a personal message if you wish! :)"></textarea>
								<input type = "button" value = "GO!" name = "submit" id = "submit"><b></b></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		    <div id = "loginPrompt">
		       	<h1 style = "text-align: center;">Knock knock! Who's there? <img src = "img/emoji5.png"></img></h1>
		        <fb:login-button id = "loginButton" scope="public_profile,email" onlogin="checkLoginState();"><h3>"Login to Facebook"</h3>
		        </fb:login-button><br><br>
		        <h3 style = "text-align: center;">"Login to Facebook, who?"</h3>
		    </div>
		    <div id = "aboutWindow">
		    	<div class = "container-fluid">
		    		<div class = "row" id = "aboutHeader">
					    <div class = "col-sm-12 col-md-12">
					    	<img src = "img/title.png"></img>
					    </div>
				    </div>
				    <div class = "row" id = "aboutMain">
				    	<div class = "col-sm-12 col-md-12">
						    <br>
					    	<p>NUSGo! is a hacking experiment that aims to solve a social problem. It is built during a 6 days extended hackathon by a group of NUS School of Computing students within the walls of Tembusu College, to vent some post-exam frustration (and also because we like to hack).</p>
					    	<p>NUSGo! is currently in its beta testing phase and more features/perks (ie. discount from NUS restaurants) may be introduced, depending on the number of users during this testing period.</p>
					    	<p>Hopefully, NUSGo! will be fully released by August 2015!</p>
					    	<h3>Features (Beta V1.0):</h3>
					    	<ul>
					    		<li>Real-time map updates</li>
					    		<li>Facebook integration for easy login</li>
					    		<li>Instant messaging and notifications</li>
					    		<li>Search for places of interests</li>
					    		<li>Open chat environments to promote interaction</li>
					    		<li>Support for multiple chat rooms</li>
					    		<li>Cute original emojis</li>
					    	</ul>
					    	<h3>Tools/Frameworks/APIs:</h3>
					    	<ul>
					    		<li>Node.js</li>
					    		<li>Socket.io</li>
					    		<li>jQuery</li>
					    		<li>Postgre SQL</li>
					    		<li>Google Maps API</li>
					    		<li>Facebook API</li>
					    	</ul>
					    	<br>
					    </div>
					</div>
		    		<div class = "row">
		    			<div class = "col-sm-5 col-md-5">
				    		<img id = "teamPhoto" src="img/rollinggophoto.jpg"></img>
				    	</div>
				    	<div class = "col-sm-7 col-md-7">
				    		<div id = "teamDesc">
						    	<h2 style = "text-align: center;"><img id = "teamLogo" src = "img/logo.png"></img>Team RollingGO!</h2>
						    	<div style = "text-align: center">
						    		<p>Kang Soon: Client-side/Lead developer (Carry)</p>
						    		<p>Andhieka: Server-side/Tech advisor (Tank)</p>
						    		<p>Choon Hian: User interface/QA (Support)</p>
						    	</div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
		</div>


<div id="googleMap"></div>
<div id="footer">
	<div id = "footerFiller"></div>
	<div><p>Created by <b>Team RollingGO!</b> (Kang Soon, Andhieka, Choon Hian), May 2015</p></div>
</div>

		<div class = "container-fluid">
		    <div id = "main" class = "row">
		    	<div id ="tohide" class = "col-md-8 col-sm-6">
		    		<br>

		    		<p>s<p>s<p>s<p>s<p>s<p>s<p>s<p>s<p>s<p>s<p>
					<!--<div id="googleMap"></div>-->
					<br>
				</div>
				<div class = "col-md-4 col-sm-6">
					<br>
					<div id = "homeDescription">
						<div id = "hide" >-</div>
						<div class = "homeContent">
							<br>
				      		<div id = "status"></div>
				      		<h2>Looking for meal buddies?</h2><br>
				      		<p><b><u>Place a marker on the map</u></b> to show that you are up for a meal!<p>
				      		<p>Or you can <b><u>click on a marker</u></b> to join him/her for a meal!</p><br>
				      		<p>You will be notified when you receive meal requests.</p>
				      		<div id = "hungryPeopleStatus"></div><br>
				      		<p>NUSGo! is a web application for lonely hearts to look for meal buddies. Are your friends too busy to dine today? <br>No problem! Make a new friend today!</p>
			      		</div>
			      		<div class = "homeOthers">
				      		<p class = "about">Find out more about NUSGo!</p><br>
				      		<div class="fb-like" data-href="https://facebook.com/nusgoapp" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br><br>
				      	</div>
			      	</div>
			      	<div class = "container-fluid">
			      		<div class = "row">
			      			<div class = "col-md-12 col-sm-12">
			      				<br>
						      	
						    </div>
					    </div>
				    </div>
				</div>
			</div>
		</div>
	</body>

	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places,drawing"></script>
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="js/Controller.js"></script>
	<script src="js/ChatService.js"></script>
	<script src="js/Map.js"></script>
	<script src="js/Marker.js"></script>
	<script src="js/StorageManager.js"></script>
	<script src="js/Style.js"></script>
	<script src="js/User.js"></script>
	<script src="js/UserAuth.js"></script>
	<script src="lib/jquery-ui.min.js"></script>
	<script src="lib/pagedown/Markdown.Converter.js"></script>
	<script src="lib/pagedown/Markdown.Sanitizer.js"></script>
</html>