<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	</head>
	<title>NUSGo![Beta]</title>
	<body>
		<div class = "comingSoonPlaceholder">
			<div class = "comingSoonPlaceholderContent">
				<img src = "img/title.png"></img><br><br>
				<img class = "circles" src = "img/circles.png"></img>
				<p class = "placeholderIntro">Check the map for hungry people near you, and JIO them for meals!</p>
				<p class = "placeholderIntro">Are your friends too busy to dine today? No prob! Make a new friend today!</p>
				<h1>Coming Soon</h1>
				<p>On 25th August 2015<br>(Tuesday)</p>
			</div>
		</div>
	</body>
</html>