html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

::-webkit-scrollbar{width:5px;height:9px;}
::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

#navBtn{
	padding: 5px;
}

.navBtn{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
}

.navBtn:hover{
	background-color: #B05817;
}

#status{
	font-size: 30px;
}

#navigation{
	background-color: #FD8a33;
}

#searchBox{
	padding: 10px;
	float: left;
}

#searchBox input{
	border: 0px;
	padding: 15px;
}

#pac-input {
	font-size: 18px;
	border-radius: 8px;
	height: 40px;
    width: 350px;
}

#pac-input:focus {
    border-color: #4d90fe;
}


#siteTitle{
	display: block;
	float: left;
	height: 50px;
	padding-top: 10px;
}

#googleMap{
	/*width:80%;
	height:100px;
	
	margin-right: auto;
	margin-left: auto;
	bottom: 20px;*/
	/*padding: 0px;*/
	/*padding-top: 20px;*/


	position: absolute;
       top: 60px; /* Header Height */
       bottom: 30px; /* Footer Height */
       width: 100%;
       height: 90%;
}

#tohide {
	visibility: hidden;
}

#footer{
	position: absolute;
		height: 100%;
		z-index: -10;
}

#footerFiller{
	height: 90%;
}

#homeDescription{
	text-align: center;
	border-radius: 20px;
	/*background-color: #c3dae3;*/
	background-color: white;
	box-shadow: 0px 0px 50px #575757;
	padding: 10px;
	font-size: 17px;


}

#prompt{
	background-color: white;
	height: 0px;
	width: 600px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}

#form{
	padding-left: 25px;
	padding-right: 25px;
}

#personalMessageBox{
	width: 100%;
}

#loginPrompt{
	background-color: white;
	height: 0px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}

#promptBackground{
	display: none;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5;
}

#notificationsBox{
	background-color: white;
	border-radius: 10px;
	height: 0px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}

#contactList{
	height: 675px;
	overflow: scroll;
}

.contact{
	cursor: pointer;
}

.showChat{
	display: none;
}

#chatField{
	width: 500px;
	border-radius: 5px;
}

#chatArea{
	height: 300px;
	overflow: scroll;
}

#profilePic{
	float: left;
	margin: 5px;
	width: 67px;
}

#checkRequests{
	background-color: #FD8a33;
	color: white;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
#checkRequests b{
	padding: 2px;
}
#checkRequests:hover{
	background-color: #F4A460;
}

#submit{
	cursor: pointer;
}

#deleteMarker{
	background-color: #FD8a33;
	color: white;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
#deleteMarker b{
	padding: 2px;
}
#deleteMarker:hover{
	background-color: #F4A460;
}

.fb-like {
	transform: scale(1.2);
	-ms-transform: scale(1.2); 
	-webkit-transform: scale(1.2); 
	-o-transform: scale(1.2); 
	-moz-transform: scale(1.2); 
	transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
}