html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	background-color: #FD8a33;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar{width:5px;height:9px;}
::-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

#navBtn{
	padding: 5px;
}

#fb{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height: 40px;
	cursor: pointer;
}
#feedback{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 30px;
	cursor: pointer;
}
#social{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	height: 40px;
	cursor: pointer;
}
#navBtnHover{
	height: 60px;
	border-radius: 5px;
}
#navBtnHover:hover{
	background-color: #B05817;
}

#status{
	font-size: 30px;
}

#navigation{
}

#searchBox{
	padding: 10px;
	float: left;
	width: 60%;
}

#searchBox input{
	border: 0px;
	padding: 15px;
}

#pac-input {
	font-size: 18px;
	border-radius: 2px;
	height: 40px;
    /*width: 150px;*/
    width: 100%;
}

#pac-input:focus {
    border-color: #4d90fe;
}


#siteTitle{
	display: block;
	float: left;
	height: 50px;
	padding-top: 10px;
}

#googleMap{
	/*width:80%;
	height:100px;
	
	margin-right: auto;
	margin-left: auto;
	bottom: 20px;*/
	/*padding: 0px;*/
	/*padding-top: 20px;*/


	position: absolute;
       top: 60px; /* Header Height */
       bottom: 30px; /* Footer Height */
       width: 100%;
       height: 90%;
}

#tohide {
	visibility: hidden;
}

#footer{
	color: white;
	padding-left: 10px;
	position: fixed;
		height: 100%;
		z-index: -10;
}

#footerFiller{
	height: 90%;
}

#homeDescription{
	text-align: center;
	border-radius: 20px;
	/*background-color: #c3dae3;*/
	background-color: white;
	box-shadow: 0px 0px 50px #575757;
	padding: 10px;
	font-size: 17px;
}

#hide{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	color: white;
	background-color:  #FD8a33;
	cursor: pointer;
}
#hide:hover{
	background-color:  #B05817;
}



#collapse{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	color: white;
	background-color:  #FD8a33;
	cursor: pointer;
}
#collapse:hover{
	background-color:  #B05817;
}



#closeForever{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	color: white;
	background-color:  #FD8a33;
	cursor: pointer;
}
#closeForever:hover{
	background-color:  #B05817;
}




#expand{
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	color: white;
	background-color:  #FD8a33;
	cursor: pointer;

}
#expand:hover{
	background-color:  #B05817;
}



.about{
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	color: white;
	width: 300px;
	border-radius: 2px;
	background-color: #FD8a33;
	cursor: pointer;
}
.about:hover{
	background-color: #B05817;
}

#aboutWindow{
	background-color: white;
	height: 0px;
	width: 850px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
	overflow-y: scroll;
	overflow-x: hidden;
}
#aboutHeader{
	background-color: #FD8a33;
	text-align: center;
}
#aboutHeader img{
	width: 250px;
	padding-top: 10px;
	padding-bottom: 5px;
}
#aboutMain{
	padding-left: 20px;
	padding-right: 20px;
}

#teamPhoto{
	border-radius: 2px;
	width: 250px;
	float: right;
	padding-bottom: 20px;
}
#teamDesc{
	float: left;
}
#teamLogo{
	padding-right: 10px;
	height: 80px;
}

#prompt{
	background-color: white;
	height: 0px;
	width: 600px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}

#contact{
	font-size: 15px;
	background-color: white;
	height: 0px;
	width: 600px;
	border-radius: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}
#contactForm{
	padding-left: 60px;
}

#form{
	padding-left: 25px;
	padding-right: 25px;
}

#personalMessageBox{
	width: 100%;
}

#loginPrompt{
	background-color: white;
	border-radius: 2px;
	height: 0px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}

#spamPrompt{
	background-color: white;
	border-radius: 2px;
	height: 0px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}

#promptBackground{
	display: none;
	background-color: black;
	opacity: 0.5;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 5;
}

.chatBox{
	background-color: white;
	border-radius: 2px;
	height: 0px;
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 2;
	box-shadow: 2px 2px 50px 5px #4A4A4A;
}
.closeChatButton{
	margin-top: 2px;
	margin-left: 2px;
	border-radius: 5px;
	float:right;
	padding: 0px 6px 0px 6px;
	font-size: 20px;
	background-color: #B05817;
	cursor: pointer;
}
.closeChatButton:hover{
	background-color: #FD8a33;
}
.minimiseChatButton{
	margin-top: 2px;
	border-radius: 5px;
	float:right;
	padding: 0px 6px 0px 6px;
	font-size: 20px;
	background-color: #B05817;
	cursor: pointer;
}
.minimiseChatButton:hover{
	background-color: #FD8a33;
}
.hungryFor{
	padding-left: 65px;
}

.goingList{
	height: 207px;
	overflow: scroll;
	font-size: 13px;
}
#goingListPhoto{
	height: 40px;
	padding-right: 5px;
	border-radius: 20px;
}

.contact{
	cursor: pointer;
}

#chatTitle{
	cursor: move;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: white;
	text-align: center;
	background-color: #FD8a33;
}
#chatTitle:hover{
	background-color: #B05817;
}

.goStatus{
	border-radius: 10px;
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #FD8a33;
	cursor: pointer;
}
.goStatus:hover{
	background-color: #B05817;
}

.showChat{
	display: none;
}

.chatField{
	width: 350px;
	border-radius: 2px;
}

.chatArea{
	height: 240px;
	overflow: scroll;
	word-wrap: break-word;
	padding: 15px;
}

#chatProfilePic{
	float: left;
	padding: 3px;
}

.emojiButton{
	float: right;
	cursor: pointer;
	border-radius: 5px;
}
.emojiButton:hover{
	background-color: #CFCFCF;
}
.emojiSelect{
	display: none;
	position: absolute;
	border-radius: 5px;
	background-color: white;
	top: 210px;
	left: 300px;
	width: 240px;
	height: 80px;
	z-index: 20;
	box-shadow: 2px 2px 20px 5px #CFCFCF;
}
.emojiOption:hover{
	cursor: pointer;
	border-radius: 5px;
}
.emojiOption:hover{
	background-color: #CFCFCF;
}

#profilePic{
	float: left;
	margin: 5px;
	width: 67px;
}

#checkRequests{
	background-color: #FD8a33;
	color: white;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
#checkRequests b{
	padding: 2px;
}
#checkRequests:hover{
	background-color: #B05817;
}

#submit{
	cursor: pointer;
}

#deleteMarker{
	background-color: #FD8a33;
	color: white;
	border-radius: 5px;
	float: left;
	cursor: pointer;
}
#deleteMarker b{
	padding: 2px;
}
#deleteMarker:hover{
	background-color: #B05817;
}

#jioButton{
	background-color: #FD8a33;
	color: white;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}
#jioButton b{
	padding: 2px;
}
#jioButton:hover{
	background-color: #B05817;
}


.fb-like {
	transform: scale(1.2);
	-ms-transform: scale(1.2); 
	-webkit-transform: scale(1.2); 
	-o-transform: scale(1.2); 
	-moz-transform: scale(1.2); 
	transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
}

#loginButton{
	padding-left: 60px;
	transform: scale(2.3);
	-ms-transform: scale(2.3); 
	-webkit-transform: scale(2.3); 
	-o-transform: scale(2.3); 
	-moz-transform: scale(2.3); 
	transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
}


#chatInMarker {
	/*visibility: none;*/
	/*background-color: #FD8a33;*/
	height: 230px;
	overflow-y: scroll;
}

#chatFieldInMarker{
	width: 200px;
	border-radius: 5px;
}


#homeInfoBox {
	z-index: -0;
	border-radius: 2px;
	position: absolute;
	
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .75);
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 10;
	width: 60%;
	
	box-shadow: 0px 0px 50px #575757;
	
	padding: 10px;
	text-align: center;
	font-size: 14px;
}



#circle-HungryPeopleCount {
	


	z-index: -0;
	border-radius: 50%;
	position: absolute;
	background: rgb(253, 138, 51); /* Fall-back for browsers that don't                                support rgba */
    background: rgba(253, 138, 51, .90);
	margin-left: auto;
	margin-right: auto;

	width: 100px;
	height: 100px;
	bottom: 40px;
	right: 10px;


	box-shadow: 0px 0px 20px #575757;
	
	padding: 10px;
	text-align: center;
	font-size: 14px;
	color: white;

}



/*p {
	font-size: 14px;
}*/


/*.top-navigation-fixed {
	 display:inline;
float:left;
}*/


